# Unity'nin kendi ürettiği geçici ve derleme klasörleri
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio ve Rider önbellekleri
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Asset meta verileri
/[Aa]ssets/AssetStoreTools*

# Crash raporları
sysinfo.txt

# Build alınmış oyun dosyaları
*.apk
*.aab
*.unitypackage
*.app